{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Agregar Nuevo Doctor</h2>

    <form method="post" class="col-md-6">
        {% csrf_token %}

        <div class="mb-3">
            <label for="cmp" class="form-label">RUC</label>
            <input type="text" name="cmp" id="cmp" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="especialidad" class="form-label">Dirección</label>
            <input type="text" name="especialidad" id="especialidad" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Canal</label>
            <input type="text" name="direccion" id="direccion" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">
            Crear Cliente
        </button>

        <a href="{% url 'visitas:gestionar_visitas_medicas' %}" class="btn btn-secondary">
            Cancelar
        </a>
    </form>

    {% if messages %}
        <div class="mt-3">
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}